<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Failed IsoFinder Example</title></head>
<body>

<hr>
<div id="graphviz_svg_div"></div>
<hr>
<div id="graphviz_svg_div2"></div>
<hr>

<script language="javascript" src="./files/jquery.min.js.download" type="text/javascript"></script>
<script language="javascript" src="./files/viz.js.download" type="text/javascript"></script>
<script language="javascript" src="./files/site.js.download" type="text/javascript"></script>


<div hidden id="sample1_text">
    <patternGraphHere/>
</div>


<div hidden id="sample2_text">
    <targetGraphHere/>
</div>


</body>
</html>